.root {
    left: 600px;
    top: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .5);
    border: 1px solid #b89fd6;
    background: white;
}

.draw {
    display: flex;
    width: 520px;
    height: 435px;
    background-color: white;
    margin: 20px 30px;
}
